* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: source sans pro;
}

header {
    height: 100px;
    background-color: #A979D9;
    color: #ffff;
    text-align: center;
    align-content: center;
    padding: 25px;
}


    

.logo{
    background-color: #B4A3D9;
    padding: 15px;
    text-align: center;
    color: #ffff;
    border-radius: 15px;
    
}
.guia {
background-color: #F2EDDC;
text-align: center;
padding-bottom: 25px;
font-size: 17px;
text-decoration: none;
border-radius: 15px;

}
main {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px;
    flex-wrap: wrap;
    gap: 15px;
    background-color: #F2EDDC;
    text-align: center;
    color: black;
    
}
 


    footer {
        height: 50px;
        background-color: #B4A3D9;
        color: #fff;
        text-align: center;
        align-content: center;
        font-size: 16px;
        padding: 10px;
    }